<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zsm.storyteller"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/player"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".app.StoryTellerApp"
        android:killAfterRestore="false"
        android:hardwareAccelerated="false">
        <activity
            android:name="com.zsm.storyteller.ui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainPreferenceActivity"
            	  android:configChanges="orientation"></activity>
        <receiver android:name=".ui.StoryTellerAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.zsm.storyteller.PLAYER_VIEW.UPDATE_PLAYER_STATE"/>
                <action android:name="com.zsm.storyteller.PLAYER_VIEW.UPDATE_ELLAPSED_TIME"/>
                <action android:name="com.zsm.storyteller.PLAYER_VIEW.UPDATE_DATA_SOURCE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/story_teller_appwidget_info" />
		</receiver>
        <service android:name=".play.PlayService" android:singleUser="true" android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.zsm.storyteller.PLAYER.PLAY_PAUSE"/>
                <action android:name="com.zsm.storyteller.PLAYER.PLAY"/>
                <action android:name="com.zsm.storyteller.PLAYER.PAUSE"/>
                <action android:name="com.zsm.storyteller.PLAYER.STOP"/>
                <action android:name="com.zsm.storyteller.PLAYER.PLAY_PREVIOUS"/>
                <action android:name="com.zsm.storyteller.PLAYER.PLAY_NEXT"/>
                <action android:name="com.zsm.storyteller.PLAYER.MAIN_ACTIVITY"/>
                </intent-filter>
        </service>
        <receiver android:name=".play.PlayControllerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
